/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


/* utilities */
/* utilities :hover */
.sidebar-top ul li a:hover,
.sidebar-bottom a:hover {
  color: #fff;
}


/* LAYOUT */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* MAIN WINDOW */
#main-window {
    flex-grow: 1;
    display: flex;
}


/* SIDEBAR */
#sidebar {
    flex-basis: 230px; /* larghezza sidebar */
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    flex-grow: 1;
    background: #000;
    padding: 20px;
}

.sidebar-top > img {
  width: 130px;
  margin-bottom: 30px;
}

.sidebar-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-top h4 {
  margin: 20px 0;
  text-transform: uppercase;
}

.sidebar-top ul li {
  margin-bottom: 10px;
}

.sidebar-top ul li i {
  font-size: 30px;
  margin-right: 10px;
}

.sidebar-top ul li a img {
  width: 25px;
  margin-right: 10px;
}

.sidebar-top ul li a,
.sidebar-bottom a  {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #747474;
  font-size: 14px;
}

/* sidebar-bottom */

.sidebar-bottom {
    background: #000;
    padding: 20px;
}

.sidebar-bottom a i {
  margin-right: 10px;
}

.sidebar-bottom > a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.sidebar-bottom img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #ccc;
  border-radius: 50%;
}

.border {
  border-bottom: 1px solid #747474;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* CONTENT */
#content {
    position: relative;
    flex-grow: 1;
    background: #000;
}

.content-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(100, 50,0, .5);
    z-index: 1;
}

#content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
}

.content-menu {
    height: 80px; /*debug*/
    background: #222;
}

.content-category {
    height: 200px; /* Debug */
}


/* BOTTOM PLAYER */
#player {
    height: 80px; /*debug*/
    background: #333;
}
