/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


/* utilities */
.pos-relative {
  position: relative;
}

.sidebar-top ul,
.content-menu ul,
.player-button ul {
  list-style: none;
}

/* utilities :hover */
.sidebar-top ul li a:hover,
.sidebar-bottom a:hover {
  color: #fff;
}

.player-button ul li a:hover,
.info-player a:hover,
.volume-bar-action a i:hover {
  color: #1ed760;
}


/* LAYOUT */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* MAIN WINDOW */
#main-window {
    flex-grow: 1;
    display: flex;
}


/* SIDEBAR */
#sidebar {
    flex-basis: 230px; /* larghezza sidebar */
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    flex-grow: 1;
    background: #000;
    padding: 20px;
}

.sidebar-top > img {
  width: 130px;
  margin-bottom: 30px;
}

.sidebar-top > img:nth-child(2) {
  width: 25px;
}

.sidebar-top h4 {
  margin: 20px 0;
  text-transform: uppercase;
}

.sidebar-top ul li {
  position: relative;
  margin-bottom: 10px;
}

.sidebar-top ul li i {
  font-size: 30px;
}

.sidebar-top > nav > ul li a span,
.sidebar-top .playlist > ul li:first-child a span,
.sidebar-bottom a span {
  margin-left: 10px;
}

.sidebar-top ul li a img {
  width: 25px;
}

.sidebar-top ul li a,
.sidebar-bottom a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #747474;
  font-size: 14px;
}

.sidebar-top ul li a:hover::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 5px;
  background: #1ed760;
  left: -20px;
  transform: translateX(-50%);
}

/* sidebar-bottom */

.sidebar-bottom {
    background: #000;
    padding: 20px;
}

.sidebar-bottom > a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-bottom img {
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

.border {
  border-bottom: 1px solid #747474;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* CONTENT */
#content {
    position: relative;
    flex-grow: 1;
    background: #141921;
}

.content-top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0, .5);
    z-index: 1;
    text-align: right;
    padding: 20px;
}

.content-top-bar a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  font-weight: 600;
}

.content-top-bar a:hover {
  background-color: #1ed760;
}

#content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
}

.content-menu {
    text-align: center;
    padding: 20px 0;
}

.content-menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}


.content-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #747474;
}

.content-menu ul li a:hover::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 40%;
  background: linear-gradient(#438600, #8fd747);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 200%);
}

.content-menu ul li a:hover {
  color: #fff;
}

/* content-Category */

.content-category {
  margin-bottom: 20px;
}

.content-category h2 {
  margin-bottom: 10px;
  padding-left: 10px;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
}

.album-container .album {
  flex-basis: calc(100% / 6);
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.album-container .album img {
  max-width: 100%;
  display: block;
}

.album-container .album h5 {
  margin: 15px 0 10px;
}

.album-container .album h6,
.content-category > h6 {
  color: #747474;
  padding-left: 10px;
}

.layover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.layover i {
  color: #fff;
  font-size: 40px;
  display: none;
}

.overlay-play:hover .layover {
  background: rgba(0,0,0, .5);
}

.overlay-play:hover .layover i {
  display: block;
}

.content-category:nth-last-child(1) .album-container img,
.content-category:nth-last-child(1) .album-container .overlay-play .layover {
  border-radius: 50%;
}

/* BOTTOM PLAYER */
#player {
    background: #272727;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* info-player */

#player img {
  max-width: 40px;
  display: block;
  margin-right: 10px;
}

.info-player {
  display: flex;
  align-items: center;
  flex-basis: 200px;
}

.info-player .text {
  margin-right: 40px;
}

.info-player a {
  margin-right: 10px;
  color: #fff;
}

.icon-info-player {
  display: flex;
}

/* player-button */

.player-button {
  text-align: center;
  flex-basis: 550px;
  padding: 0 20px;
}

.player-button ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.player-button ul li a {
  color: #fff;
  font-size: 16px;
}

.player-button ul li:nth-child(3) a {
  font-size: 30px;
}

.player-button ul li:nth-child(2) {
  margin-right: 25px;
}

.player-button ul li:nth-child(4) {
  margin-left: 10px;
}

.player-button ul li:nth-child(5) {
  margin-right: 0;
}

/* progress-bar */
.progress-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.progress-bar span {
  font-size: 12px;
}

.bar {
  position: relative;
  background-color: #535353;
  height: 4px;
  flex-grow: 1;
  border-radius: 20px;
  margin: 0 10px;
}

.bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  background: linear-gradient(#438600, #8fd747);
  border-radius: 20px;
}

.progress-bar:hover .bar::after,
.volume-bar:hover .bar::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: linear-gradient(#438600, #8fd747);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* volume-bar */
.volume-bar-action {
  display: flex;
  flex-basis: 200px;
}
.volume-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.volume-bar-action a {
  color: #fff;
  margin-right: 10px;
}
  
/* Reponsive */
@media all and (min-width: 601px) {
  .sidebar-top > img:nth-child(2) {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .album-container .album {
    flex-basis: calc(100% / 4);
  }
}

@media all and (max-width: 600px) {
  .album-container .album {
    flex-basis: calc(100% / 2);
  }

  #sidebar {
    flex-basis: 50px;
  }

  .sidebar-top > img:nth-child(1),
  .nav-link span,
  .playlist {
    display: none;
  }

  .icon-info-player {
    flex-direction: column;
    font-size: 12px;
  }

  .sidebar-bottom .border > a i {
    font-size: 25px;
  }

  .volume-bar {
    width: 100px;
  }

  .info-player .text {
    margin-right: 20px;
  }
  
  .volume-bar-action a i,
  .player-button ul li a {
    font-size: 12px;
  }

  .player-button ul li:nth-child(3) a {
    font-size: 20px;
  }

}